<!-- Modal -->
		  <div class="modal fade" id="imageX" role="dialog" >
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
			         
			        <div class="modal-header">
			          <h4 class="modal-title">Image popup:</h4>
			         <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
			         
			        </div>
			        <div class="modal-body">
			        	<!--
			        	image pop up goes here see js
			        	-->
			        </div>
			        
			        </div> <!-- end of modal-body -->
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <div class="modal-footer">
			        	
			          

			        </div>
		      </div>
		      
		    </div>
		  </div>

